##ISI Yang Penting Saja
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=usernamebotapi

# Group ID & HASH

GROUP_ID=-100
GROUP_HASH=-731

#RTMP Untuk Streaming

RTMP_URL=
RTMP_KEY=

#OWNER_ID

OWNER_ID=
OWNER_ONLINE_WINDOW=300 # dalam detik

#KEY Goofle Firebase
FIREBASE_CRED_JSON={ }

#GEMINI_API_KEY

GEMINI_API_KEY=           # key 1 (primary)
GEMINI_API_KEY_2=
GEMINI_API_KEY_3=
GEMINI_API_KEY_4=
GEMINI_API_KEY_5=
GEMINI_MODEL=gemini-2.0-flash   # optional, default gemini-2.0-flash

# OpenRouter
OPENROUTER_API_KEY=
OPENROUTER_API_KEY_2=
OPENROUTER_API_KEY_3=
OPENROUTER_API_KEY_4=

# Groq
GROQ_API_KEY=
GROQ_API_KEY_2=


