TELEGRAM_API_ID+
TELEGRAM_API_HASH=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=usernamebot

GROUP_ID=-10012345678
GROUP_HASH=-712345678

OWNER_ID=1234567
TELEGRAM_ROOT_ID=1234567

GEMINI_API_KEY=adndkdna mnadnafafkakj

