# Binary hasil build
kometika_bot
tmp/
*.exe
*.dll
*.so
*.dylib

# File log
*.log
mybot.log

# KRITICAL: Session / Token / Credential
session.json
*.session
*.creds
.env

# File cache dan temporary lainnya
*.cache

# Go build artifacts
*.test
*.out
coverage.out
vendor/

# db 
*.db
*.db-shm
*.db-wal
kometika_bot.db
kometika_bot.db-shm
kometika_bot.db-wal

.DS_Store
Thumbs.db


